<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="../../static/css/annonces.css"> 
    <title>Tawsila</title>
</head>
<body>
    <!--Header-->
<div id="showcase">
            
        <header>
        <div class="menu">        
        <nav class='cf'>
                
        <ul class='cf'>
                <img src="../../static/images/logo.png" alt="logo" id="logo">
                <li><a href="#">FAQ</a></li>
            <li> <a href='#' id="about">Qui sommes nous?</a></li>
            <li> <a href='#' id="annonces">Annonces livreurs</a></li>
            <li> <a href='home.html'>Accueil</a></li>
            <form action="home.html" method="POST">
                <select name="Langue" id="lang" class="select">
                    <option>AR </option>
                    <option>FR</option>
                    <option>ANG</option>
                </select>
            </form>
        </ul>            
          </nav>
        </div>
        </header>
         <!-- Add icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <div class="person1">
                <div class="card1">
            
                        <h1 >Livreur</h1><br><br>
                        <p><span class="title">Kenitra  </span> <span style="font-size:20px;color:red;top: 20px;">></span> <span class="title">  Rabat</span></p>
                        <p>Particulier</p>
                        
                        <p><button>Confirmer</button></p>
                    </div> 
        </div>
        
  
</div>
<script
        src="http://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
</script>
        
    
</body>

<footer>
    <div id="foot">
            <p id="conditions"><a href="#">Conditions légales</a></p>
            <p id="contact"><a href="#">Contacts</a></p>
            <p id="politique"><a href="#">Politique de confidentialité</a></p>
    </div>
    
</footer>
</html>


