<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="../../static/css/annonces.css"> 
    <title>Tawsila</title>
</head>
<body>
    <!--Header-->
<div id="showcase">
            
        <header>
        <div class="menu">        
        <nav class='cf'>
                
        <ul class='cf'>
                <img src="../../static/images/logo.png" alt="logo" id="logo">
                <li><a href="#">FAQ</a></li>
            <li> <a href='#' id="about">Qui sommes nous?</a></li>
            <li> <a href='#' id="annonces">Annonces livreurs</a></li>
            <li> <a href='home.html'>Accueil</a></li>
            <form action="home.html" method="POST">
                <select name="Langue" id="lang" class="select">
                    <option>FR </option>
                    <option>AR</option>
                    <option>ANG</option>
                </select>
            </form>
        </ul>            
          </nav>
        </div>
        </header>
        
        <div class="texte"><p>Choisir le livreur: </p></div>
        <div class="bloc">
            
            <div class="card1">
                <img src="../../static/images/visage-homme-dans-style-bande-dessinee-pop-art_24877-2987.jpg" alt="John" style="width:100%">
                <h1>John Doe</h1><br>
                <p class="title">Kénitra &nbsp; <i class="arrow right"></i> &nbsp; Rabat</p>
                
                <p><button>Choisir</button></p>
              </div>
              <div class="card2">
                <img src="../../static/images/img_avatar.png" alt="John" style="width:100%;">
                <h1>Jimmy Siens</h1><br>
                <p class="title">Casablanca &nbsp; <i class="arrow right"></i> &nbsp; Rabat</p>
                
                <p><button>Choisir</button></p>
              </div>
              <div class="card2">
                <img src="../../static/images/img_avatar2.png" alt="John" style="width:100%;">
                <h1>Jimmy Siens</h1><br>
                <p class="title">Tanger &nbsp; <i class="arrow right"></i> &nbsp; Kénitra</p>
                
                <p><button>Choisir</button></p>
              </div>
        </div>
        
        
        
  
</div>
<script
        src="http://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
</script>
        
    
</body>

<footer>
    <div id="foot">
            <p id="conditions"><a href="#">Conditions légales</a></p>
            <p id="contact"><a href="#">Contacts</a></p>
            <p id="politique"><a href="#">Politique de confidentialité</a></p>
    </div>
    
</footer>
</html>


