<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/css/login_page.css">
    <title>Livreur</title>
    <script type="text/javascript" src="quotidien.js"></script>
    
    
</head>
<body>
        
    <div class="hero" >
        <div id="formbox" class="form-box">
            <div class="button-box">
                <div id="btn"></div>
                <button type="button" class="toggle-btn" onclick="login();">Connexion</button>
                <button type="button" class="toggle-btn" onclick="register();">Inscription</button>
            </div>
                <form id="login" class="input-group">
                    <input type="text" class="input-field" placeholder="Email" required>
                    <input type="password" class="input-field" placeholder="Mot de passe" required>
                    <input type="checkbox" class="check-box"><label style="font-size: 12px;bottom:10px;">Rester connecté</label>
                    <button type="submit" class="submit-btn1">Se connecter</button><br>
                    <button type="button" class="submit-btn1"><a href="home.html" style="color:black">Annuler</a></button>
                </form>
                <form id="register" class="input-group" name="formulaireDynamique">
                        <input type="text" class="input-field" placeholder="Nom" required>
                        <input type="text" class="input-field" placeholder="Prenom" required>
                        <input type="text" class="input-field" placeholder="Tel" required>
                        <input type="email" class="input-field" placeholder="Email" required>
                        <input type="password" class="input-field" placeholder="Mot de passe" required>
                        <input type="password" class="input-field" placeholder="Confirmer mot de passe" required>
                        <input type="text" class="input-field" placeholder="Permis de conduite" required>
                        <input type="text" class="input-field" placeholder="Carte grise" required>
                        <input type="text" class="input-field" placeholder="C.I.N" required>
                        <input type="text" class="input-field" placeholder="Profession" required>
                        <input type="text" class="input-field" placeholder="Adresse" required>
                        <input type="text" class="input-field" placeholder="Mot de passe" required>
                        <label> Avez-vous un trajet quotidien?</label><br><br>
                        <input type="radio" name="radio" id="radio_btn" onclick="ajout(this);"  required > 
                        <label for="radio" id="radio1" style="font-size: 12px">Oui</label>
                        <input type="radio" name="radio" id="radio_sup" required >
                        <label for="radio" id="radio2" style="font-size: 12px">Non</label>
                        <p id="accept"><input type="checkbox"> <a href="Conditions_generales">J'accepte les conditions générales</a>  </p>
                        <button type="submit" class="submit-btn2">S'enregistrer</button>
                        <button type="button" class="submit-btn2"><a href="home.html" style="color: black">Annuler</a></button>
                        
                </form>
        </div>
        
    </div>
    <script>
        var x = document.getElementById("login");
        var y = document.getElementById("register");
        var z = document.getElementById("btn");
        var w = document.getElementById("formbox");
        var u = document.getElementById("toggle-btn");
        function register(){
            x.style.left="-400px";
            y.style.left="50px";
            z.style.left="105px";
            w.style.overflowY ="scroll";
        }
        function login(){
            x.style.left="50px";
            y.style.left="450px";
            z.style.left="10px";
            w.style.overflowY=null;
        }
    </script>
</body>

</html>