<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/css/login_page.css">
    <title>Document</title>
</head>
<body>
    <div class="hero">
        <div class="form-box">
            <div class="button-box">
                <div id="btn"></div>
                <button type="button" class="toggle-btn">Connexion</button>
                <button type="button" class="toggle-btn">Inscription</button>
            </div>
                <form class="input-group">
                    <input type="text" class="input-field" placeholder="Nom d'utilisateur" required>
                    <input type="text" class="input-field" placeholder="Mot de passe" required>
                    <input type="checkbox" class="check-box"><span>Rester connecté</span>
                    <button type="submit" class="submit-btn">Se connecter</button>
                </form>
        </div>
        
    </div>
</body>
</html>