<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="../../static/css/style.css"> 
    <title>Tawsila</title>
</head>
<body>
    <!--Header-->
<div id="showcase">
            
        <header>
        <div class="menu">        
        <nav class='cf'>
                
        <ul class='cf'>
                <img src="../../static/images/logo.png" alt="logo" id="logo">
                <li><a href="#">FAQ</a></li>
            <li> <a href='#' id="about">Qui sommes nous?</a></li>
            <li> <a href='#' id="annonces">Annonces livreurs</a></li>
            <li> <a href='home.html'>Accueil</a></li>
            <form action="home.html" method="POST">
                <select name="Langue" id="lang" class="select">
                    <option>AR <img id="maroc" src="../../static/images/index.png" alt="maroc"> </option>
                    <option>FR</option>
                    <option>ANG</option>
                </select>
            </form>
        </ul>            
          </nav>
        </div>
        </header>
        <div class="qui_sommes_nous">
            <div class="text_container">
                <p>Tawsila est un service qui permet au client de se faire livrer des acquisitions même si le veudeur ne dispose pas d’un service de livraison propre à lui. Au sein de la même ville ou même à l’autre côté du pays, nos clients trouvent toujours une personne qui fait ce trajet à l’heure convenue, et ceci à travers notre plateforme d’échange. Adaptable aux attentes du client et flexible concernant les horaires et les prix aussi, les livreurs de Tawsila sont des gens motorisés, faisant généralement un trajet similaire à celui sélectionné par le client. Allant au travail, en voyage ou juste de passage, notre livreur se met d’accord sur l’heure et le prix de la livraison avec le client, en respectant bien évidemment la fourchette imposée par le marché. Ainsi, notre service garantit une livraison rapide, sécurisée mais aussi adaptée aux attentes du client. 
Néanmoins, notre service est aussi destiné aux commerçants qui ne jouissent pas d’un service de livraison propre à eux, généralement les petits commerces. Moyen et grand commerce, besoin d’une livraison en urgence et à court de vos propres livreurs ? Ne vous inquiétez pas, on ne vous oublie pas ! Nos livreurs sont à votre service, bien entendu.
Ceci dit, notre service est accessible aux commerçants aussi!
Vous êtes également nos clients !
            </p> 
        </div>   
        </div>
  
</div>
<script
        src="http://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
</script>
        
    
</body>

<footer>
    <div id="foot">
            <p id="conditions"><a href="#">Conditions légales</a></p>
            <p id="contact"><a href="#">Contacts</a></p>
            <p id="politique"><a href="#">Politique de confidentialité</a></p>
    </div>
    
</footer>
</html>